.Ad {
    width: 800px;
    height: 250px;
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.AdImg {
    height: 250px;
    width: 375px;
}

.Specs {
    padding: 10px;
}

.Title {
    font-weight: 700;
    font-size: 24px;
}

.Price {
    font-size: 20px;
    font-weight: 900;
    margin: 10px 0;
    color: var(--theme-green);
}

.CategoryDate {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 15px;
}

.Category {
    margin-right: 10px;
}

.Date,
.Category,
.Status {
    font-size: 15px;
}

.CatValue,
.DateValue,
.StatusValue,
.PriorityValue {
    font-weight: 200;
}

.AdBtn {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Status {
    margin-top: 5px;
}

.StatusValue {
    margin: 20px 0px;
    padding: 2px;
    border-radius: 20px;
    font-size: 13px;
}

.PriorityValue {
    margin: 20px 10px;
    padding: 2px;
    border-radius: 20px;
    font-size: 13px;
}

.rejected {
    font-weight: 400;
    background-color: var(--theme-red);
    color: var(--secondary-font-color);
}

.approved {
    background-color: var(--theme-green);
    color: var(--secondary-font-color);
}

.pending {
    background-color: var(--theme-yellow);
    color: var(--secondary-font-color);
}

.urgent {
    background-color: var(--theme-red);
    color: var(--secondary-font-color);
}

.normal {
    background-color: var(--theme-green);
    color: var(--secondary-font-color);
}
