ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}
