.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    background-color: var(--secondary-bg-color);
    color: var(--font-color);
    border: 1px solid var(--border-color);
}

.Preferences {
    display: flex;
}

.btn_icons {
    background-color: transparent;
    border: none;
}

.icons {
    display: block;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    font-size: 20px;
}
