.NavLink {
    cursor: pointer;
    color: var(--font-color);
    border-radius: 0.3em;
    position: relative;
    color: var(--font-color);
    text-decoration: none;
    display: inline-block;
}

.clear {
    background-color: transparent;
    border: none;
}

.bordered {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
}

.red {
    background-color: var(--theme-red);
    border: none;
}

.green {
    background-color: var(--theme-green);
    border: none;
}
/*#45782c;*/
.yellow {
    background-color: var(--theme-yellow);
    border: none;
}

.green.M {
    font-size: 16px;
    padding: 0.5em;
}

.green.L {
    font-size: 18px;
    padding: 0.5rem;
}

.red.M {
    font-size: 16px;
    padding: 0.5em;
}

.red.L {
    font-size: 18px;
    padding: 0.5rem;
}

.yellow.M {
    font-size: 16px;
    padding: 0.5em;
}

.yellow.L {
    font-size: 18px;
    padding: 0.5rem;
}

.bordered.M {
    font-size: 16px;
    padding: 0.5em;
}

.bordered.L {
    font-size: 20px;
    padding: 2rem;
}

.clear.M {
    font-size: 16px;
    padding: 0.5em;
}

.clear.L {
    font-size: 20px;
    padding: 2rem;
}

.Disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.NavLink.Active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: var(--theme-green);
    border-radius: 2px;
}
